.Habit:hover,
.Habit:active {
	background: #eee !important;
}

.Search {
	background-color: rgb(226, 238, 247) !important;
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {
	.Description.ui.label {
		left: 127px !important;
	}
}

/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */

@media (min-width: 1024px) {
	.Description.ui.label {
		left: 127px !important;
	}
}
